.btn.button-disabled,
.btn:disabled {
  background-color: #999CF3;
  border-color: #999CF3;
  pointer-events: none;
}
.item-tile-review {
  display: block;
  position: relative;
  min-height: 100%;
  background: #fff;
  font-size: 16px;
  line-height: 21.6px;
  color: #22252A;
  padding: 14px;
  border: 1px solid #F2F2F2;
  border-radius: 6px;
  width: 100%;
  -ms-flex: 1;
      flex: 1;
}
.item-tile-review .tile-title-wrap {
  display: block;
}
.item-tile-review .tile-info-wrap {
  position: relative;
  padding: 12px 0 0 42px;
}
.item-tile-review .tile-info-wrap:before {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
  position: absolute;
  background: url(../img/quote.svg) center no-repeat;
  background-size: 100% auto;
  top: 12px;
  left: 0;
}
.item-tile-review .tile-title {
  display: inline-block;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #C2D8E3;
}
.content-form-box {
  margin-bottom: 30px;
  color: #22252A;
  position: relative;
}
.content-form-box .form-wrap {
  max-width: 467px;
  position: relative;
  margin: 0 auto;
  z-index: 2;
}
.content-form-box .form-wrap:before {
  content: "";
  display: block;
  width: 1184px;
  height: 258px;
  background: url(../img/form.svg) center top no-repeat;
  background-size: 100% auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-form-box .frm-row-submit {
  padding-top: 15px;
  text-align: center;
}
.content-form-box .frm-row-submit .btn {
  min-width: 260px;
  height: 44px;
  font-size: 19px;
}
.content-form-box .frm-title {
  display: block;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.76px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 15px;
  color: #22252A;
}
.content-form-box .frm-field {
  margin-bottom: 10px;
}
.content-form-box .field-info {
  text-align: center;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 20px;
}
.content-form-box .field-info a:not(:hover) {
  color: inherit;
}
.content-form-box .form-input {
  background: #fff;
  border-color: #C2D8E3;
  padding: 0 10px 0 29px;
  border-radius: 10px;
  font-size: 17px;
  color: #000;
  height: 50px;
}
.content-form-box textarea.form-input {
  padding-top: 15px;
  height: 207px;
  line-height: normal;
}
.content-form-box [placeholder]::-webkit-input-placeholder {
  color: #22252A;
}
.content-form-box [placeholder]:-moz-placeholder {
  color: #22252A;
}
.content-form-box [placeholder]::-moz-placeholder {
  color: #22252A;
}
.content-form-box [placeholder]:-ms-input-placeholder {
  color: #22252A;
}
.tiles-reviews-box {
  margin-bottom: 30px;
}
.tiles-reviews-box .swiper-slide ~ .swiper-slide {
  display: -ms-flexbox;
  display: flex;
}
.tiles-reviews-box .sl-wrap {
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.tiles-reviews-box .slider-wrap {
  margin: 0 -8px;
}
.tiles-reviews-box .sl-wrap {
  padding: 0 8px;
}
.tiles-reviews-box .title-inner-wrap {
  margin-bottom: 30px;
  text-align: center;
}
.tiles-reviews-box .title-inner-wrap .title-wrap {
  margin-bottom: 10px;
}
.tiles-reviews-box .title-inner-wrap .btn {
  min-width: 203px;
  height: 44px;
  font-size: 19px;
}
.tiles-reviews-box .title-inner-wrap .h1-title {
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 0.76px;
  font-weight: 400;
  margin: 0;
}
.tiles-reviews-box .more-inner-wrap,
.tiles-reviews-box .button-inner-wrap {
  text-align: center;
  margin-top: 15px;
  font-size: 19px;
}
.tiles-reviews-box .button-inner-wrap {
  margin-top: 30px;
}
.tiles-reviews-box .button-inner-wrap .btn {
  min-width: 258px;
}
.tiles-reviews-box .items-wrap {
  margin: 0 -8px -15px -8px;
}
.tiles-reviews-box .item-wrap {
  padding: 0 8px;
  margin-bottom: 15px;
  width: 100%;
}
@media (min-width: 768px) {
  .tiles-reviews-box .title-inner-wrap {
    text-align: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .tiles-reviews-box .title-inner-wrap .title-wrap {
    margin: 0;
    -ms-flex: 1;
        flex: 1;
    padding: 0 15px 0 0;
  }
  .tiles-reviews-box .title-inner-wrap .action-wrap {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .tiles-reviews-box .item-wrap {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .item-tile-review {
    padding: 3rem;
  }
  .item-tile-review .tile-info-wrap {
    padding-top: 22px;
  }
  .item-tile-review .tile-info-wrap:before {
    top: 22px;
  }
  .item-tile-review .tile-title {
    padding-bottom: 15px;
  }
  .content-form-box {
    margin-bottom: 100px;
  }
  .content-form-box .frm-row-submit .btn {
    padding: 0 30px;
    min-width: 0;
  }
  .tiles-reviews-box {
    margin-bottom: 10rem;
  }
  .tiles-reviews-box .slider-wrap {
    margin: 0 -15px;
  }
  .tiles-reviews-box .sl-wrap {
    padding: 0 15px;
  }
  .tiles-reviews-box .title-inner-wrap {
    margin-bottom: 10rem;
  }
  .tiles-reviews-box .title-inner-wrap .h1-title {
    font-size: 3.8rem;
    line-height: 1.13157895;
  }
  .tiles-reviews-box .title-inner-wrap .btn {
    min-width: 0;
    padding: 0 30px;
  }
  .tiles-reviews-box .item-wrap {
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .tiles-reviews-box .items-wrap {
    margin: 0 -15px -30px -15px;
  }
  .tiles-reviews-box .more-inner-wrap {
    margin-top: 30px;
  }
  .tiles-reviews-box .button-inner-wrap {
    margin-top: 9rem;
  }
}
